<!DOCTYPE html>
<html>
  <head>
    <title>TopSeven</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p>This is my API built using Sinatra framework in Ruby</p>
    <a href="https://dry-harbor-40455.herokuapp.com/teams">Click here to check out some data for the French soccer league!</a>
    <a href="https://dry-harbor-40455.herokuapp.com/leagues">This is information about each league.</a>
  </body>
</hmtl>
