<!DOCTYPE html>
<html>
  <head>
    <title>TopSeven</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p>This is my API built using Sinatra framework in Ruby</p>
    <p> Click link below to check out some data </p>
    <a href="https://dry-harbor-40455.herokuapp.com/teams">https://dry-harbor-40455.herokuapp.com/teams</a>
  </body>
</hmtl>
