<!DOCTYPE html>
<html>
  <head>
    <title>TopSeven</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <h1>Welcome</h1>
    <h2>
      <p>This is my API built using Sinatra framework in Ruby</p>
    </h2>
    <br> <hr class="style1" > </br>
    <h3>
      <a href="https://topseven7.herokuapp.com/clubs/ligue_1">French Ligue 1</a>
      <a href="https://topseven7.herokuapp.com/clubs/premier">English Premier</a>
      <a href="https://topseven7.herokuapp.com/clubs/laliga">Spanish LaLiga</a>
      <a href="https://topseven7.herokuapp.com/clubs/bundesliga">German bundesliga</a>
      <a href="https://topseven7.herokuapp.com/clubs/bundesliga">Itallian Seri A</a>
      <a href="https://topseven7.herokuapp.com/clubs/bundesliga">Mexican Liga MX</a>
      <a href="https://topseven7.herokuapp.com/clubs/bundesliga">Portuguese Liga Nos</a>
    </h3>
      <br> <hr class="style1" > </br>
      <h4>
      <a href="https://topseven7.herokuapp.com/leagues">This is data for each league.</a>
    </h4>

    <div class="footer">Contact: <strong>javprg7@gmail.com</strong></div>
  </body>
</hmtl>
